# Node modules
node_modules/

# Environment files
.env

# Logs
logs/
*.log

# Build directories
dist/
build/

# Configuration files
*.log

# IDE-specific files
.DS_Store
.vscode/
.idea/

# Miscellaneous
*.tmp
*.swp
